.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .formBody {
    display: flex;
    flex-direction: column;
  }
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
}

.descWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.descWrapper input,
.wordWrapper input {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(165, 165, 165);
}

.wordsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

@media only screen and (max-width: 1400px) {
  .wordsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .wordsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}

.wordWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.resetButton,
.submitButton {
  width: 8rem;
  border-radius: 5rem;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.resetButton {
  background: none;
  border: 0.1rem solid rgb(69, 69, 69);
  color: rgb(69, 69, 69);
}

.submitButton {
  background-color: var(--primary-color);
  color: white;
}

.category-1 {
  background-color: var(--yellow-light-color);
}

.category-2 {
  background-color: var(--green-light-color);
}

.category-3 {
  background-color: var(--blue-light-color);
}

.category-4 {
  background-color: var(--purple-light-color);
}

.categoryWrapper {
  padding: 1rem;
  gap: 0.75rem;
  border-radius: 0.5rem;
}

.categoryWrapper h2 {
  margin: 0;
  font-size: 1.375rem;
}
