.pageCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.wordContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 1rem);
  max-width: 50rem;
  min-width: 20rem;
  height: 22rem;
}

.wordBox {
  width: 10rem;
  height: 5rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  flex: 1 0 21%;
  overflow: auto;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.wordPadding {
  width: 60%;
  height: 60%;
}

@media only screen and (max-width: 768px) {
  .wordPadding {
    width: 90%;
    height: 90%;
  }
}

.textfit {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unselected {
  background-color: rgb(239, 239, 231);
}

.selected {
  background-color: rgb(69, 69, 69);
  color: rgb(239, 239, 231);
}

.mistakeAnimation {
  animation-name: mistake-shake;
  animation-duration: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes mistake-shake {
  0% {
    transform: none;
  }
  33% {
    transform: rotate(1deg);
  }
  67% {
    transform: rotate(-1deg);
  }
  100% {
    transform: none;
  }
}

.wordBox:disabled:hover,
.secondaryButton[disabled]:hover,
.primaryButton[disabled]:hover {
  cursor: default !important;
}

.wordBox:disabled,
.secondaryButton[disabled],
.primaryButton[disabled] {
  filter: opacity(0.5);
}

.buttonGroup {
  display: flex;
}

.circleContainer {
  display: flex;
  margin-left: 0.25rem;
}

.circleRemaining {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: rgb(69, 69, 69);
  margin: 0.25rem;
}

.circleUsed {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 0.1rem solid rgb(69, 69, 69);
  margin: 0.25rem;
  animation-name: circle-used;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes circle-used {
  from {
    background: rgb(173, 58, 58);
  }
  to {
    background: none;
  }
}

.remaining {
  display: flex;
  margin: 1rem 0;
}

.remaining p {
  margin: 0;
}

.secondaryButton {
  background: none;
  border: 0.1rem solid rgb(69, 69, 69);
  color: rgb(69, 69, 69);
}

.primaryButton {
  background-color: black;
  color: white;
  border: none;
}

.primaryButton,
.secondaryButton {
  border-radius: 2rem;
  margin: 0.3rem;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .primaryButton,
  .secondaryButton {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .primaryButton,
  .secondaryButton {
    padding: 1rem 2rem;
  }
}

.foundGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1 0 84%;
  height: 5rem;
  gap: 0.25rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0 1rem;
  z-index: 1;
  animation-name: group-bounce;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes group-bounce {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

.summaryWords {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.categoryDesc {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.category1 {
  background-color: var(--yellow-color);
}

.category2 {
  background-color: var(--green-color);
}

.category3 {
  background-color: var(--blue-color);
}

.category4 {
  background-color: var(--purple-color);
}

.alertWrapper {
  background-color: black;
  position: absolute;
  z-index: 5;
  color: white;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  transform: translateX(-50%);
  left: 50%;
  top: 2rem;
}

.gameWonWrapper[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 1rem 0.01rem rgb(174, 173, 183);
  width: 20rem;
  margin-top: 15vh;
  border: none;
  border-radius: 0.5rem;
  padding: 30px;
  gap: 45px;
}

.gameWonWrapperTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.gameWonWrapperBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.moveRow {
  padding: 0;
  margin: -0.2rem 0 0 0;
  font-size: 1.5rem;
  text-align: center;
}

.gameWonButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.gameWonSubheading {
  text-align: center;
}

.gameWonCloseButton {
  background: none;
  border: none;
  font-size: 1rem;
  text-decoration: underline;
  color: black;
}
